.now-playing-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(52, 152, 219, 0.85);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  white-space: nowrap;
}

.now-playing-button:hover .camera-icon .film-reel-1 {
  animation: spinReel 1s linear infinite;
}

.now-playing-button:hover .camera-icon .film-reel-2 {
  animation: spinReel 0.8s linear infinite reverse;
}

.now-playing-button.icon-only {
  width: 34px;
  height: 34px;
  padding: 0px;
}

.now-playing-button:hover {
  background-color: rgba(52, 152, 219, 0.95);
  width: auto;
}

.now-playing-button:hover .camera-icon {
  padding-right: 5px;
}

.now-playing-button .camera-icon {
  flex-shrink: 0;
  transform: scale(0.7);
  transition: padding-right 0.2s ease-in-out;
  order: 2;
  color: white;
  padding-right: 10px;
}

.now-playing-button .button-text {
  font-size: 12px;
  font-weight: 500;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  order: 1;
  white-space: nowrap;
  padding-left: 10px;
}

.now-playing-button:hover .button-text {
  opacity: 1;
  width: auto;
}

@media (max-width: 768px) {
  .now-playing-button.icon-only {
    width: 34px;
    height: 34px;
    padding: 6px;
  }
  
  .now-playing-button .camera-icon {
    width: 30px;
    height: 30px;
  }
  
  .now-playing-button .button-text {
    font-size: 12px;
  }
}

@keyframes spinReel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}