.streaming-services-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
  border-radius: 8px;
  padding: 10px;
  padding-left: 15px;
  margin-bottom: 30px;
  outline: 1px #bebebe25;
  outline-style: dashed;
  outline-width: 4px;
}

.streaming-services-section .where-to-watch {
  margin: 0 !important;
  color: gray;
}

.streaming-providers {
  margin-top: 0px;
  margin-bottom: 0px;
}

.streaming-label {
  color: #999;
  font-size: 14px;
  margin-right: 10px;
}

.provider-logos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 0px;
}

.provider-logo {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.provider-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.no-providers {
  color: #999;
  font-style: italic;
  font-size: 13px;
}

/* Styles specific to the detail page */
.detail-providers .provider-logos {
  gap: 15px;
}

.detail-providers .provider-logo {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.detail-providers .provider-name {
  font-size: 12px;
  color: #e0e0e0;
  margin-top: 5px;
  text-align: center;
  max-width: 70px;
  display: none;
}

.detail-providers .provider-logo:hover .provider-name {
    display: none;
}

@media (max-width: 768px) {
  .provider-logo {
    width: 28px;
    height: 28px;
  }
  
  .detail-providers .provider-logo {
    width: 40px;
    height: 40px;
  }
}